<form action="login" method="POST">
  <input type="hidden" name="submit" value="true">
  <input type="text" name="uname">
  <input type="password" name="pwd">
  <input type="submit" value="Log in!">
</form>
